{% extends 'customer/customer_base.html' %}
{% load static %}
{% block content %}


<style media="screen">
body {
    background-color: #202334;
}
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }

  .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .button:hover span {
  padding-right: 25px;
  }

.img-rounded {
    border-radius: 20px;
}

/* Default profile picture size */
        .col-sm-2.col-md-2 {
            width: 35.66666667%;
        }

        /* Media query for screens with a minimum width of 992px */
        @media (min-width: 992px) {
            .col-md-2 {
                width: 36.66666667%;
            }
        }

  .button:hover span:after {
  opacity: 1;
  right: 0;
  }

</style>
<br><br><br>
<div style="padding-left:300px;" class="container">

        <div class="col-sm-2 col-md-2">
            {% if not customer.profile_pic %}
                <img src="{% static '/static_pics/5499830_8e273ea3a64448478f1bb0af5152a4c7.jpg' %}"   alt="profile pic" class="img-rounded img-responsive" />
            {% else %}
                <img src="{% static customer.profile_pic.url %}"   alt="profile pic" class="img-rounded img-responsive" />
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p style="position: absolute; margin-top: -15px;">Username: {{request.user}}</p> <p style="color: #60d4ec; position: absolute; margin-top: 20px;">
  <small><cite title="Source Title" style="color: #60d4ec;">
    Address: {{customer.address}} <i class="glyphicon glyphicon-map-marker"></i>
  </cite></small>
</p>
            </blockquote>
            <p style="position: absolute; margin-top: 50px;">
  <i class="glyphicon glyphicon-phone"></i>Contact: {{customer.mobile}}
</p>
        </div>

</div>
<br>
<div style="text-align: center;">
  <a href="/edit-profile"><button class="btn btn-primary btn-lg" ><span>Edit Profile </span></button></a>
</div>
<br><br><br><br><br><br>

{% endblock content %}
